{{- $handleFromParamsSocial := "" -}}
{{- with .Site.Params.Social -}}
  {{- with .twitter -}}
    {{- $handleFromParamsSocial = . -}}
  {{- end -}}
{{- end -}}
{{- if not $handleFromParamsSocial -}}
  {{- with .Site.Params.social -}}
    {{- with .twitter -}}
      {{- $handleFromParamsSocial = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $handleFromSeo := "" -}}
{{- with .Site.Params.seo }}
  {{- with .twitterHandle -}}
    {{- $handleFromSeo = . -}}
  {{- end -}}
{{- end -}}

{{- $siteHandle := $handleFromParamsSocial -}}
{{- if not $siteHandle -}}
  {{- $siteHandle = $handleFromSeo -}}
{{- end -}}

{{- $emitSite := not $handleFromParamsSocial -}}
{{- if and $emitSite $siteHandle -}}
  {{- if not (strings.HasPrefix $siteHandle "@") -}}
    {{- $siteHandle = printf "@%s" $siteHandle -}}
  {{- end -}}
  <meta name="twitter:site" content="{{ $siteHandle }}" />
{{- end -}}

{{- $creator := "" -}}
{{- with .Site.Params.seo }}
  {{- with .twitterCreator -}}
    {{- $creator = . -}}
  {{- end -}}
{{- end -}}
{{- if not $creator -}}
  {{- $creator = $siteHandle -}}
{{- end -}}
{{- if $creator -}}
  {{- if not (strings.HasPrefix $creator "@") -}}
    {{- $creator = printf "@%s" $creator -}}
  {{- end -}}
  <meta name="twitter:creator" content="{{ $creator }}" />
{{- end -}}
