{{ define "main" }}
<section class="site-skills-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="site-skills-title">{{ .Title }}</h1>
                <div class="site-skills-description">
                    {{ .Content }}
                </div>
            </div>
        </div>

        {{ range .Params.skill_categories }}
        <div class="row mt-5">
            <div class="col-12">
                <h2 class="mb-4">{{ .name }}</h2>
                {{ partial "skills/skill-category.html" (dict "skills" .skills) }}
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
