<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="{{- $.Lang }}" 
	{{- if .Site.Params.colorTheme.auto.disable }}
	data-bs-theme="{{ .Site.Params.colorTheme.forced.theme }}"
	theme-forced="true"
	theme-auto="false"
	{{- end }}>

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<body class="{{ if .IsHome }}home{{ end }}">

	{{ partial "header.html" . }}

    {{ $baseLangSite := .Sites.Default }}
    {{ $home := where .Site.RegularPages "Type" "homepage" }}
    {{ $homeCount := len $home }}
                
    
    {{ if lt $homeCount 1 }}
        <!-- DEFAULT -->
        {{ warnf "Adritian: No homepage found (%d 'homepage' items). Please create a homepage in your content folder." ($homeCount) }}
        {{ warnf "Adritian: (deprecated) Using Site.Params.Sections to render homepage." }}
        {{ range .Site.Params.sections }}
        {{ partial . $ }}
        {{ end }}
    {{ else }}
    {{ range first 1 (sort $home "Date" "desc") }}
        {{ .Content | safeHTML }}
    {{ end }}
    {{ end }}

	{{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->