<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="{{- $.Lang }}" 
	{{- if .Site.Params.colorTheme.auto.disable }}
	data-bs-theme="{{ .Site.Params.colorTheme.forced.theme }}"
	theme-forced="true"
	theme-auto="false"
	{{- end }}>

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

{{ range .Site.Pages }}
  {{ if .File }}
    {{ warnf "Path: %s | IsDraft: %t | Type: %s | Section: %s | Kind: %s" .File.Path .Draft .Type .Section .Kind }}
  {{ else }}
    {{ warnf "No .File for this page: Type=%s, Section=%s, Kind=%s" .Type .Section .Kind }}
  {{ end }}
{{ end }}
<body class="{{ if .IsHome }}home{{ end }}">

	{{ partial "header.html" . }}

    {{ $home := where .Site.Pages "Type" "home" }}
    {{ $homeCount := len $home }}
                
    
    {{ if lt $homeCount 1 }}
        <!-- DEFAULT -->
        {{ warnf "Adritian: No homepage found (%d 'home' items). Please create a home in your content folder." ($homeCount) }}
        {{ warnf "Adritian: (deprecated) Using Site.Params.Sections to render homepage." }}
        {{ range .Site.Params.sections }}
        {{ partial . $ }}
        {{ end }}
    {{ else }}
    {{ range first 1 (sort $home "Date" "desc") }}
        {{ warnf "Adritian: Using 'home' content type to render homepage." }}
        {{ .Content | safeHTML }}
    {{ end }}
    {{ end }}

	{{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->