<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="{{- $.Lang }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}"
	{{- if .Site.Params.colorTheme.auto.disable }}
	data-bs-theme="{{ .Site.Params.colorTheme.forced.theme }}"
	theme-forced="true"
	theme-auto="false"
	{{- end }}>

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}
    {{- if ne .Site.Params.viewTransitions false }}
    <meta name="view-transition" content="same-origin" />
    {{- end }}
</head>

<body class="{{ if .IsHome }}home{{ end }}">

	{{ partial "header.html" . }}

    <main id="main-content" tabindex="-1">
    {{ $home := where (where .Site.Pages "Type" "home") "Lang" .Lang }}
    {{ $homeCount := len $home }}

    {{ if lt $homeCount 1 }}
        <!-- DEFAULT -->
        {{ warnf "Adritian: No homepage found for lang '%s' (%d 'home' items). Please create a home in your content folder." .Lang ($homeCount) }}
        {{ warnf "Adritian: (deprecated) Using Site.Params.Sections to render homepage for lang '%s'." .Lang }}

        {{ range .Site.Params.sections }}
        {{ partial . $ }}
        {{ end }}
    {{ else }}
    {{ range (sort $home "Date" "desc") }}
        <div class="container home-container">
        {{ .Content | safeHTML }}
        </div>
    {{ end }}
    {{ end }}
    </main>

	{{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->
