
.icon-threads:before { content: '\e800'; } /* '' */
.icon-bluesky:before { content: '\e801'; } /* '' */
.icon-x-twitter:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\f007'; } /* '' */
.icon-square-twitter:before { content: '\f081'; } /* '' */
.icon-square-facebook:before { content: '\f082'; } /* '' */
.icon-linkedin:before { content: '\f08c'; } /* '' */
.icon-square-github:before { content: '\f092'; } /* '' */
.icon-quote:before { content: '\f10d'; } /* '' */
.icon-face-smile:before { content: '\f118'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-codepen:before { content: '\f1cb'; } /* '' */
.icon-yelp:before { content: '\f1e9'; } /* '' */
