{{ if .Site.Data.homepage.about.enable }}
<section class="section rad-animation-group pb-0" id="about">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center"> <!-- Modified -->
        <div class="about__profile-picture mb-4">
          {{ $img := resources.Get .Site.Data.homepage.about.image.x }}
          {{ $img2x := resources.Get .Site.Data.homepage.about.image._2x }}
          {{ $imgWebp := $img.Resize "1200x" }}
          {{ $img2xWebp := $img2x.Resize "2400x" }}
          <picture>
            <source srcset="{{ $imgWebp.RelPermalink }} 1x, {{ $img2xWebp.RelPermalink }} 2x" type="image/webp" />
            <source srcset="{{ $img.RelPermalink }} 1x, {{ $img2x.RelPermalink }} 2x" type="image/webp">
            <img width="5000" height="auto" class="lozad img-responsive image-left-overflow"
              src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
              srcset="{{ $imgWebp.RelPermalink }} 1x, {{ $img2xWebp.RelPermalink }} 2x"
              data-src="{{ $imgWebp.RelPermalink }}"
              data-srcset="{{ $imgWebp.RelPermalink }} 1x, {{ $img2xWebp.RelPermalink }} 2x"
              alt="Profile Picture of Adrián Moreno (@zetxek), working side by side with a colleague: sitting on a desk, while looking at a screen" />
          </picture>
        </div>
      </div>
      <div class="col-12 col-md-6 my-auto">
        <div class="mb-4">
          <h2>{{ .Site.Data.homepage.about.title }}</h2>
          {{ .Site.Data.homepage.about.content | safeHTML }}
        </div>
        <a href="{{ .Site.Data.homepage.about.button.URL | absURL }}" target="_blank" class="btn btn-primary">
          <i class="{{ .Site.Data.homepage.about.button.icon }}"></i>
          {{ .Site.Data.homepage.about.button.btnText }}
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}