{{ if .Site.Data.homepage.experience.enable }}
<section id="experience" class="section-experience section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row rad-fade-down">
            <div class="col-12 cold-md-12 col-sm-6 mt-5 mt-sm-0">
                {{ with .Site.Data.homepage.experience.items }}
                {{ range . }}
                <div class="experience">
                    <div class="experience__date">{{ .duration }}</div>
                    <div class="experience__title">{{ .title }}</div>
                    <div class="experience__company">{{ .company }}</div>
                    <div class="experience__location">{{ .location }}</div>
                </div>
                {{ end }}
                {{ end }}
            </div>
            <div class="col-12 col-md-6">
                <h2>{{ .Site.Data.homepage.experience.title }}</h2>
                <p>{{ .Site.Data.homepage.experience.description }}</p>
                <a href="{{ .Site.Data.homepage.experience.button.URL }}" target="_blank" class="btn btn-primary"><i
                        class="{{ .Site.Data.homepage.experience.button.icon }}"></i> {{
                    .Site.Data.homepage.experience.button.btnText }}</a>
                <a href="{{ .Site.Data.homepage.experience.button2.URL }}" target="_blank" class="btn btn-primary"><i
                        class="{{ .Site.Data.homepage.experience.button2.icon }}"></i> {{
                    .Site.Data.homepage.experience.button2.btnText }}</a>
                <br> <!-- Adding whitespace -->
                <h3>{{ .Site.Data.homepage.experience.additional_title }}</h3> <!-- Additional Title -->
                <a href="{{ .Site.Data.homepage.experience.button3.URL }}" target="_blank" class="btn btn-primary"><i
                        class="{{ .Site.Data.homepage.experience.button3.icon }}"></i> {{
                    .Site.Data.homepage.experience.button3.btnText }}</a>
                <a href="{{ .Site.Data.homepage.experience.button4.URL }}" target="_blank" class="btn btn-primary"><i
                        class="{{ .Site.Data.homepage.experience.button4.icon }}"></i> {{
                    .Site.Data.homepage.experience.button4.btnText }}</a>
                <a href="{{ .Site.Data.homepage.experience.button5.URL }}" target="_blank" class="btn btn-primary"><i
                        class="{{ .Site.Data.homepage.experience.button5.icon }}"></i> {{
                    .Site.Data.homepage.experience.button5.btnText }}</a>
            </div>
        </div>
    </div>
</section>
{{ end }}